@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--gold: hsl(44, 85%, 51%); /* Xanthous */
	--blue: hsl(226, 93%, 35%); /* International Klein Blue */
	--black: hsl(35, 18%, 13%); /* Eerie black */
	--white: hsl(144, 16%, 94%); /* Anti-flash white */
	--grey: hsl(170, 9%, 52%); /* Battleship gray */
	--green: hsl(109, 63%, 34%);
}

.dark-mode {
	--gold: hsl(44, 85%, 51%);
	--blue: hsl(170, 9%, 52%);
	--black: hsl(144, 16%, 94%);
	--white: hsl(35, 18%, 13%);
	--grey: hsl(144, 16%, 94%);
	--green: hsl(109, 63%, 34%);
}

* :where(h1, h2, h3) {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 3em;
	color: var(--gold);
}

* :where(h4, h5, h6, a) {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	color: var(--blue);
}

* :where(h6, p) {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1em;
	color: var(--blue);
}

* :where(li) {
	color: var(--black);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--gold: hsl(44, 85%, 51%);
		--blue: hsl(170, 9%, 52%);
		--black: hsl(144, 16%, 94%);
		--white: hsl(35, 18%, 13%);
		--grey: hsl(144, 16%, 94%);
	}
} */
